<html>
	<head>
		<title>Quiz Machine</title>
		
		<link rel="stylesheet" type="text/css" href="/Styles/jquery-ui.css"></link>
		<link rel="stylesheet" type="text/css" href="/Styles/home.css"></link>
		<script  type="text/javascript" src="/Scripts/jquery-1.5.2.min.js"></script>
		<script  type="text/javascript" src="/Scripts/jquery-ui-1.8.12.custom.min.js" ></script>
		<script  type="text/javascript" src="/Scripts/jquery.tmpl.min.js"></script>
		<script  type="text/javascript" src="/Scripts/data.js"></script>
		<script  type="text/javascript" src="/Scripts/quiz_machine.js"></script>

<script id="questionTemplate" type="text/x-jquery-tmpl"> 
<dl>
<dt><b>${index+1})</b> ${question}</dt>
{{each(i,answer) answers}}
	<dd>
		<input type="radio" id="answer${answer.id}" name="answer" is_correct="${answer.isCorrectAnswer}" onchange="QuizMachine.setSelectedAnswer(${index},${answer.id});" />
		<label for="answer${answer.id}" class="answerLabel">${answer.text}</label>
	</dd>
{{/each}}
</dl>
</script>

<script id="questionNavigationTemplate" type="text/x-jquery-tmpl">
<a href="javascript:QuizMachine.moveNext();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="button-next">Next</a>
<a href="javascript:QuizMachine.prepareSummaryPage();" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="button-next">Quit</a> 
</script>

<script id="questionTemplateComplete" type="text/x-jquery-tmpl"> 
<dl>
<dt><b>${index+1})</b> ${question}</dt>
<dd>
<table>
{{each(i,answer) answers}}
<tr>	
<td>
	 {{if i == correctAnswer}}
	<img src="/Images/16/correct-380.png" alt="Correct"/>
	{{else i != correctAnswer && i == chosenAnswer}}
	<img src="/Images/16/incorrect-380.png" alt="Incorrect"/>
	{{else}}
	&nbsp;
	{{/if}}	
</td>
<td>	 
		<input type="radio" id="answer${answer.id}" name="question_${index}_answers" is_correct="${answer.isCorrectAnswer}" {{html $item.getChecked(index,i)}}/>
		<label for="answer${answer.id}" class="answerLabel">${answer.text}</label>
</td>
</tr>	
{{/each}}

</table>
</dd>
</dl>
</script>

<script id="summaryTemplate" type="text/x-jquery-tmpl"> 
    <div class="selectionContainer" style="margin-top:10px;">
      <a href="javascript:QuizMachine.startQuiz(${level});" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Level ${level}</a>
      <span class="label scoreLabel">Previous Score:</span> 
      <a href="#" id="lvl${level}Score" class="previousScore" name="lvl1Score">${summary}</a>
    </div>
</script>

<script type="text/javascript">
$(document).ready(function(){
	QuizMachine.prepareSummaryPage();
});
</script>
<script  id="menuTemplate" type="text/x-jquery-tmpl">
<center>
<table>
<tr>
<td><a href="javascript:QuizMachine.startQuiz(1)"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Restart Level</a></td>
<td><a href="javascript:QuizMachine.prepareSummaryPage();"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Main Menu</a></td>
{{if canMoveNext == true}}
<td><a href="javascript:QuizMachine.startNextLevel();"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Next Level</a></td>
{{/if}}
</tr>
<table>
</center>
</script>
</head>
<body>
<div id="actions" style="float:right"></div>
<div style="clear:both"></div>
<div class="container  ui-widget" >
    <div class="ui-widget-header ui-corner-top header">
    <img src="/Images/75/quizzicalicious-logo.png" class="logo"/>
    <h1 >Quizzicalicious</h1>
    <h2>Ancient History</h2>
	</div>
	<div class="ui-widget-content content"  id="pageStart">
	    <h3>Choose a level to get started</h3>
	    <input type="checkbox" id="ckSuddenDeath" name="ckSuddenDeath" /> 
	    <label for="ckSuddenDeath">Sudden Death Mode</label>
	
	<div id="levelContainer">
	    <div class="selectionContainer" style="margin-top:10px;">
	      <a href="javascript:QuizMachine.startQuiz(1);" class="levelButton shadow ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Level 1</a>
	      <span class="label scoreLabel">Previous Score:</span> <a href="#" id="lvl1Score"
	      class="previousScore" name="lvl1Score">No Score</a>
	    </div>
	
	    <div class="selectionContainer">
	      <a href="javascript:QuizMachine.startQuiz(2);" class="levelButton shadow ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Level 2</a> <span class=
	      "label scoreLabel">Previous Score:</span> <a href="#" id="lvl2Score" class=
	      "previousScore" name="lvl2Score">No Score</a>
	    </div>
	
	    <div class="selectionContainer">
	      <a href="#" class="levelButton shadow ui-corner-all ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Level 3</a> <span class=
	      "label scoreLabel">Previous Score:</span> <a href="#" id="lvl3Score" class=
	      "previousScore" name="lvl3Score">No Score</a>
	    </div>
	
	    <div class="selectionContainer">
	      <a href="#" class=""></a> <span class="label scoreLabel" style=
	      "margin-left:89px;">Combined Score:</span> <a href="#" id="lvl3Score" class=
	      "previousScore" name="lvl3Score">No Score</a>
	    </div>
	    </div>
    </div>
    <div class="ui-widget-content content" id="pageQuestions" style="display:none;">
	    <div id="pageQuestion_lblLabel" class="inline">
	      <h3 style="margin-top:8px;margin-right: 50px;">Level <span id="quizLevel"></span></h3>
	    </div>
	
	    <div id="bardivs" class="inline">
	      <div id="progressbar"></div>
	      <div id="progresstext"></div>
	      <div id="elapsedtext"></div>
	    </div>
	    <br class="clearBoth" />
	    <!-- you may or may not need this -->
	
	    <div class="selectionContainer" id="questionContainer"></div>
	    <div class="selectionContainer" id="questionNavigationContainer"></div>
    </div>
	</div>
    
</div>


</body>
</html>
