body{
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgb(92,155,204)),
    color-stop(0.82, rgb(223,239,252))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(92,155,204) 26%,
    rgb(223,239,252) 82%
);


}
.container
{
	min-height: 500px;
	width: 600px;
//	border: solid 3px #A6C9E2;
//	padding: 20px 40px 20px 20px;
//	background:#FFF;
}
h1
{
margin:0px;
padding:10px;
}
.content
{
	min-height: 450px;
	padding:20px 40px 20px 20px;
	background: #FFF;
}
#pageQuestions
{
	position:absolute;
	top:8px;
	left:8px;
}
.selectionContainer
{
	padding: 15px;
}
#questionNavigationContainer
{
	position:absolute;
	bottom:0px;
	width:500px;
}
#button-next
{
	float:right;
	padding: 5px 8px;
}
.label
{
	
}
.scoreLabel
{
	margin-left: 15px;
}
.previousScore
{
	margin-left: 40px;
}
.levelButton
{
	padding: 5px 8px;
	//border: solid 2px black;
}

.levelButton:hover
{
	//border: solid 2px blue;
}
.shadow {
	//-moz-box-shadow: 3px 3px 4px #000;
//	-webkit-box-shadow: 3px 3px 4px #000;
//	box-shadow: 3px 3px 4px #000;
}
.answerLabel
{
	margin-left:10px;
}	
#ckSuddenDeath
{
	margin-left:15px;
}
div.inline { float:left; }
.clearBoth { clear:both; }

#bardivs {
    width:300px; /* or whatever the of the porgress bar is */
    /* 
       The position of #bardivs must be something other than
       static (the default) so that its children will be positioned
       relative to it.
    */
    position:relative;
}
#progresstext {
    position:absolute;
    top:0;
    left:100px;
}
#progresstext .scoreLabel
{
margin-left:0px;
margin-top:8px;
}
.ScoreLabel
{
	margin-top:10px;
	font-weight: bold;
}
dd
{
	padding:10px;
}